
.navbar {
  margin-bottom: 0;
}

.login-form {
  font-size: 12px;
}
input[type=text],
input[type=password]
{
    padding: 2px;
    margin-bottom:4px;
}

.jumbotron {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;


  display: inline-block;
    overflow: hidden;
}

.card > a img {
  margin-top: .75rem;
  margin-bottom: .75rem;
  border:1px solid #cacaca;
  padding:10px;
  width:100%


  -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    
    vertical-align: middle;
}


.card:hover img {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    transform:scale(1.05);
    -ms-transform:scale(1.05); /* IE 9 */
    -moz-transform:scale(1.05); /* Firefox */
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -o-transform:scale(1.05); /* Opera */

    cursor:pointer;
}



.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/**************/
.bordered {border:1px solid #cacaca;}

#left-side .side-btn-container {

    padding: 10px 0;
    background: #cacaca;
    margin-bottom: 20px;
}

#left-side .side-category-container {
  padding: 10px;
}


#right-side .item img {height:180px}

.view-header h1 {padding:2% 0 0 0}

.thumbnail {
    position: relative;
    padding: 5px;
    margin-bottom: 20px;
    border:1px solid #cacaca;
}

.thumbnail img {
    width: 100%;
    margin-bottom: 10px;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.thumbnail:hover img {
    -webkit-transform:scale(1.03); /* Safari and Chrome */
    transform:scale(1.03);
    -ms-transform:scale(1.03); /* IE 9 */
    -moz-transform:scale(1.03); /* Firefox */
    -webkit-transform:scale(1.03); /* Safari and Chrome */
    -o-transform:scale(1.03); /* Opera */

    cursor:pointer;
}

.item-detail-image img{
  width:100%;
  height: 350px;
}

.item-detail-content {padding:10px}

.margin-bottom {margin-bottom:10px}

.item-detail-content h2 {
  margin: 0 0 10px 0;
}

.item-detail-content strong {
  margin-right: 15px;
}

.user-main-info-wrap{
  margin:10px 0;
}

.user-avatar{
  border-radius:50%;
  margin: 15px 5px 15px 0;
  width:60px;
  height:60px;
}

.seller-info{
  margin-top:10%;
  padding:20px 10px 10px;
  background:#0275d8;
  text-align:center;
  color:#fff;
}

.seller-info a {color: #fff}

.seller-info .btn{
  width:100%;
  margin-bottom:5px;
}

.hide-bullets {
    list-style: none;
    margin-top: 20px;
}

.hide-bullets li{
    display: inline-block;
}